## *Evaluación de Actividad 1*
# Introduccion a la minería, análisis de  Taco Sales



<img src="../img/logoAIEP.jpg" alt="Logo de AIEP" width="300">

<div class="alert alert-block alert-warning">

   <b>Estudiantes:</b><br>
    Camila García<br>
    José Luis Henríquez<br>
    Gisselle Rey<br>
    Marcos Zuñiga<br>
    Gabriela Osbelis Nogera<br>

 </div>

<div class="alert alert-block alert-warning">
<b>Grabriela osbelis:</b>
</div>

***
# Conocer los Datos:
 <div class="alert alert-block alert-danger">

Explicar los datos que vienen en su origen. 
 Esto implica no solamente definir el nombre de la columna, sino que también *explicar los posibles rangos de valores*, lo que permitirá entender la información contenida.

 Acá también se debe mostrar:
 1. Los datos, 
 2. Estructura del dataframe, 
 3. Ver los diferentes valores de los atributos,
 4. Revisar la completitud de los datos, 
 5. Mostrar estadísticas de los datos, 
 6. Explicar los datos utilizando gráficos (esto permitirá ver cantidades, porcentajes, tendencias, etc).
</div>

# 0. Conocer los datos

Este conjunto de datos contiene 1,000 registros de pedidos de entrega de tacos, generados entre el 1 de enero de 2024 y el 25 de mayo de 2025. <br>Simula datos realistas de restaurantes ubicados en varias ciudades de Estados Unidos e incluye información como:
<div class="alert alert-block alert-info">


- `Order ID` _ID de Pedido_: Identificador único para cada pedido de tacos
- `Restaurant` Name _Nombre del Restaurante_: Nombre del restaurante de tacos
- `Location` _Ubicación_: Ciudad de EE. UU. donde se realizó el pedido
- `Order Time` _Hora del Pedido_: Marca de tiempo cuando se realizó el pedido (AAAA-MM-DD HH:MM:SS)
- `Delivery Time` _Hora de Entrega_: Marca de tiempo cuando se entregó el pedido
- `Delivery Duration` (min) _Duración de Entrega (minutos)_: Minutos transcurridos desde el pedido hasta la entrega
- `Taco Size` _Tamaño del Taco_: Tamaño del taco solicitado: Regular o Grande
- `Taco type` _Tipo de Taco_: Tipo de taco (por ejemplo, Res, Pollo, Vegetariano, Pescado, Cerdo)
- `Toppings Count` _Cantidad de Aderezos_: Número de aderezos extra añadidos.
- `Distance (km)` _Distancia (km)_: Distancia desde el restaurante hasta el cliente
- `Price ($)` _Precio ($)_: Precio total del pedido, calculado según el tamaño y los aderezos
- `Tip ($)` _Propina ($)_: Monto de la propina dada por el cliente
- `Weekend Order` _Pedido en Fin de Semana_: Booleano, VERDADERO si el pedido se realizó en fin de semana.
</div>

# 1. Los Datos.

In [ ]:
import pandas as pd

Crear dataframe

In [ ]:
df = pd.read_csv("../dataset/taco_sales_2024-2025.csv")

Mostrar dataframe

In [ ]:
df

,Order ID,Restaurant Name,Location,Order Time,Delivery Time,Delivery Duration (min),Taco Size,Taco Type,Toppings Count,Distance (km),Price ($),Tip ($),Weekend Order
0,770487,El Taco Loco,New York,01-08-2024 14:55,01-08-2024 15:36,41,Regular,Chicken Taco,5,3.01,9.25,2.22,False
1,671858,El Taco Loco,San Antonio,23-11-2024 17:11,23-11-2024 17:25,14,Regular,Beef Taco,1,6.20,4.25,3.01,True
2,688508,Taco Haven,Austin,21-11-2024 20:24,21-11-2024 21:02,38,Large,Pork Taco,2,20.33,7.00,0.02,False
3,944962,Spicy Taco House,Dallas,21-09-2024 06:43,21-09-2024 07:28,45,Regular,Chicken Taco,2,3.00,5.50,1.90,True
4,476417,Casa del Taco,San Antonio,24-07-2024 11:01,24-07-2024 11:16,15,Large,Pork Taco,0,24.34,4.50,1.14,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,164891,La Vida Taco,Austin,27-05-2024 11:12,27-05-2024 12:11,59,Large,Veggie Taco,2,20.04,7.00,2.80,False
996,232442,The Taco Stand,San Antonio,03-04-2025 20:51,03-04-2025 21:29,38,Regular,Fish Taco,0,13.69,3.00,1.38,False
997,251729,Urban Tacos,Houston,23-01-2025 05:33,23-01-2025 06:41,68,Regular,Pork Taco,2,4.07,5.50,2.00,False
998,940215,Taco Fiesta,San Antonio,05-09-2024 15:49,05-09-2024 16:38,49,Regular,Veggie Taco,5,14.56,9.25,1.89,False
999,326183,Grande Tacos,Phoenix,19-10-2024 14:21,19-10-2024 14:38,17,Large,Chicken Taco,5,5.66,10.75,3.66,True

# 2. Estructura del dataframe.

Muestrar un resumen del DataFrame: <br>número de filas, columnas, tipos de datos, valores nulos, etc.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Order ID                 1000 non-null   int64
 1   Restaurant Name          1000 non-null   object
 2   Location                 1000 non-null   object
 3   Order Time               1000 non-null   object
 4   Delivery Time            1000 non-null   object
 5   Delivery Duration (min)  1000 non-null   int64
 6   Taco Size                1000 non-null   object
 7   Taco Type                1000 non-null   object
 8   Toppings Count           1000 non-null   int64
 9   Distance (km)            1000 non-null   float64
 10  Price ($)                1000 non-null   float64
 11  Tip ($)                  1000 non-null   float64
 12  Weekend Order            1000 non-null   bool
dtypes: bool(1), float64(3), int64(3), object(6)
memory usage: 94.9+ KB

# 3. Ver los diferentes valores de los atributos.

# 4. Revisar la completitud de los datos.

#  5. Mostrar estadísticas de los datos.

 # 6. Explicar los datos utilizando gráficos 
 (esto permitirá ver cantidades, porcentajes, tendencias, etc).

***
# 7. Preguntas

<div class="alert alert-block alert-danger">
# Definir y responder 3 preguntas de negocio:
Esto aplicando groupby y desplegando resultados con gráficos.
</div>

***

<div class="alert alert-block alert-warning">
<b>Marcos Camila:</b> 
</div>